:root {
    --primary-text-color: #212121;
    --accent-text: #2196F3;
    --second-text: #757575;
    --bg-color: #FFFFFF;
    --bg-hero: #2F303A;
    --bg-color-s: #E5E5E5;
    --color-button: #F5F4FA;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-decoration: none;
}

.logo-color {
    color: var(--accent-text);
}

.site-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}

.contact a {
    color: var(--second-text);
}

.site-nav a:hover,
.contact a:hover,
.site-nav a:focus,
.contact a:focus {
    color: var(--accent-text);
}

.site-nav .current {
    color: var(--accent-text);
}

.a {
    height: 600px;
    left: 0px;
    top: 80px;
    background: var(--bg-hero);
}

.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bg-color);
    margin: auto;
    padding-top: 200px;
}

.section {
    color: var(--primary-text-color);
}

.button {
    background: var(--accent-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button .button-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--bg-color);
}

.rule-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.rule-title .rule-text {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--second-text);
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.job {
    font-size: 16px;
    line-height: 1.2;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #757575;
}

.address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--bg-color);
}


/* 2 file */

.second-button {
    background: var(--color-button);
    border-radius: 4px;
}

.second-button .second-button-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.title-img {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.categories {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--second-text);
}

.b {
    display: flex;
    flex-direction: row;
}