:root {
    --primary-text-color: #212121;
    --accent-text: #2196F3;
    --second-text: #757575;
    --bg-color: #FFFFFF;
    --bg-hero: #2F303A;
    --bg-color-s: #E5E5E5;
    --color-button: #F5F4FA;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

.chapter {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.logo {
    font-style: normal;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-decoration: none;
}

.logo-color {
    color: var(--accent-text);
}

.site-nav .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}

.contact .link {
    color: var(--second-text);
}

.site-nav .link:hover,
.contact .link:hover,
.site-nav .link:focus,
.contact .link:focus {
    color: var(--accent-text);
}

.site-nav .current {
    color: var(--accent-text);
}

.block {
    background: var(--bg-hero);
}

.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bg-color);
}

.section {
    color: var(--primary-text-color);
}

.button {
    background: var(--accent-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--bg-color);
}

.rule-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.rule-text {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--second-text);
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.job {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text);
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--bg-color);
}


/* 2 file */

.second-button {
    background: var(--color-button);
    border-radius: 4px;
}

.second-button-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.second-button-title:hover,
.second-button-title:focus {
    background: var(--accent-text);
}

.title-img {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.categories {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text);
}